div {
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    background: #00d8d8;
}
.round1 {
    border-top-left-radius: 100px;
}
.round2 {
    /* x(가로) 50% 부터, y(세로) 30% 부터 라운딩 처리 */
    border-bottom-right-radius: 50% 30%;
}
.round3 {
    /* x(가로) 50, y(세로) 50 부터 라운딩 처리 */
    border-top-right-radius: 50px;
}