.user-detail-form table {
  position: relative;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  word-wrap: break-word;
  word-break: keep-all;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
  border-left: none;
  border-right: none;
}

.user-detail-form th,
.user-detail-form td {
  line-height: 14px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -1px;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.user-detail-form th {
  color: #333;
  border-right: 1px solid #e5e5e5;
  background: #f9f9f9;
  padding: 32px 31px 32px;
  width: 20%;
}

.user-detail-form td {
  color: #565656;
  padding: 32px 0 32px 30px;
}

/* Add padding to container elements */
.user-detail-form .container {
  position: relative;
  max-width: 954px;
  min-width: 600px;
  padding: 32px 51px 95px;
  margin: 0 auto;
}

.user-detail-form .content {
  position: relative;
}