<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="css/vue/trans.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <!--
        양방향 바인딩
        v-model="속성 값"
        v-model = v-bind:value + v-on:input
        사용자의 입력값에 따라 데이터값이 변하고,
        데이터값이 변하면 화면에 보이는 값도 달라짐
        ex. 로그인 값을 즉시 체크해주는 폼 기능
        특정 페이지가 로딩되기 전에
        서버에서 가져온 JSON 데이터를 data 프로퍼티에 저장해놓고,
        사용자가 입력한 값을 form 태그를 통해 체크
        주로 form 태그와 함께 사용
        input 태그의 file 타입에는 사용 불가
        file 타입에서는 단방향 바인딩과 methods를 결합하여
        수동적인 양방향 바인딩 구현 가능
        -->

        <!-- 사용자가 직접 입력하는 구간 -->
        캐릭터명: <input v-model="characterName"></br>
        레벨: <input v-model="characterLv"></br>
        상태: <input v-model="characterStatus"></br>
        HP: <input v-model="characterHp"></br>
        ATK: <input v-model="characterAtk"></br>
        DEF: <input v-model="characterDef"></br>

        <!-- 사용자의 입력을 바탕으로 상태를 보여주는 구간 -->
        <p>캐릭터명: {{ characterName }}&nbsp;&nbsp;&nbsp;
            경험치: {{ curExp }} / {{ needExp }}</p>
        <p>레벨: {{ characterLv }}</p>
        <p>상태: {{ characterStatus }}</p>
        <p>HP: {{ characterHp }}</p>
        <p>ATK: {{ characterAtk }}</p>
        <p>DEF: {{ characterDef }}</p>
        <p>돈: {{ money }}</p>

        <!-- 몬스터 추가, 전체 공격 버튼 메서드 script에서 구현 -->
        <button v-on:click="addMonster">몬스터 추가</button></br>
        <button v-on:click="addManyMonster">100마리씩 몬스터 추가</button>
        <button v-on:click="amaterasu">아마테라스</button>

        <ul>
            <!--
            단방향 바인딩
            v-bind: 서버를 거치지 않고 view 영역에서 처리함
                    html 태그에 있는 속성에
                    :과 'v-bind' 를 입력하는 것으로써 간단하게 데이터를 연결
            1] 이미지 데이터 연결 : v-bind:src="data 값"
            2] 링크를 통한 연결 : v-bind:href
            3] 스타일시트 연결 : v-bind:class="{}", v-bind:style
            4] 키를 통한 연결 : v-bind:key

            주로 class 의 경우,
            class 값의 참, 거짓에 따라 style 이 변경되는 방식으로 사용
            -->

            <!-- monsters 배열 내용
                 monster: id, hp 등을 사용하기 위해
                 index: doRemove, doAttack에서 사용하기 위해 -->
            <h3>몬스터</h3>
            <li v-for="(monster, index) in monsters"
                v-bind:key="monster.id"
                v-bind:class="{ strong: monster.hp > 300 }">
                ID.{{ monster.id }} {{ monster.monsterName }}
                HP.{{ monster.hp }} STATUS.{{ monster.status }}
                <!-- doRemove 메서드 사용하여 몬스터 삭제 -->
                <button v-on:click="doRemove(index)">몬스터 삭제</button>
                <!-- hp > 300 이면 강함 -->
                <span v-if="monster.hp > 300">강함</span>
                <span v-if="monster.hp <= monster.morbidity">빈사 상태</span>
                <!-- doAttack 메서드 사용하여 몬스터 공격 -->
                <button v-on:click="doAttack(index)">공격</button>
            </li>
        </ul>

        <h3>상점</h3>
        <label>
            <!-- checkbox에 체크가 되면
                 shopView는 true, shuffleShopList 메서드 동작 -->
            <input type="checkbox" v-model="shopView"
                   v-on:click="shuffleShopList">상점
        </label>
        <!-- 구매 눌렀을 때 calcBuy 동작 -->
        <button v-on:click="calcBuy">구매</button>
        <!-- 표 테두리 두께 1 -->
        <table border="1">
            <!-- shopView가 true일 때 -->
            <tr v-if="shopView">
                <th align="center" width="20">번호</th>
                <th align="center" width="80">이름</th>
                <th align="center" width="80">가격</th>
                <th align="center" width="320">효과</th>
                <th align="center" width="40">구매</th>
            </tr>
            <!-- shopView가 true일 때
                 shopList에서 list, idx 가져와서 필요한 부분에 사용 -->
            <tr v-if="shopView" v-for="(list, idx) in shopList"
                v-bind:key="list.itemName">
                <th align="center" width="20">{{ idx + 1 }}</th>
                <th align="center" width="80">{{ list.itemName }}</th>
                <th align="center" width="80">{{ list.price }}</th>
                <th align="center" width="320">{{ list.effect.desc }}</th>
                <th align="center" width="40">
                    <label>
                        <!-- 체크된 것은 shopListValue 배열로 바인딩
                             shopListValue 값은 shopList에서 가져온 idx -->
                        <input type="checkbox"
                               v-model="shopListValue" v-bind:value="idx">
                    </label>
                </th>
            </tr>
        </table>

        <h3>내 아이템</h3>
        <label>
            <!-- checkbox에 체크가 되면
                 inventoryView는 true -->
            <input type="checkbox" v-model="inventoryView">아이템
        </label>
        <!-- 구매 눌렀을 때 useItem 동작 -->
        <button v-on:click="useItem">사용</button>
        <!-- 표 테두리 두께 1 -->
        <table border="1">
            <!-- inventoryView가 true일 때 -->
            <tr v-if="inventoryView">
                <th align="center" width="20">번호</th>
                <th align="center" width="80">이름</th>
                <th align="center" width="80">가격</th>
                <th align="center" width="320">효과</th>
                <th align="center" width="40">구매</th>
            </tr>
            <tr v-if="inventoryView" v-for="(list, idx) in myInventory"
                v-bind:key="list.itemName">
                <th align="center" width="20">{{ idx + 1 }}</th>
                <th align="center" width="80">{{ list.itemName }}</th>
                <th align="center" width="80">{{ list.effect.amount }}</th>
                <th align="center" width="320">{{ list.effect.desc }}</th>
                <th align="center" width="40">
                    <label>
                        <input type="checkbox" v-model="useListValue" v-bind:value="idx">
                    </label>
                </th>
            </tr>
        </table>
    </div>

    <script>
        // vue: 형식을 저장하여 태그만 바꿔서 쓸 수 있음
        var app = new Vue({
            el: '#app',
            data: {
                // 현재 몬스터 목록을 나타내는 배열
                monsters: [
                    { id: 1, monsterName: '슬라임', hp: 10, status: 'Default' },
                    { id: 2, monsterName: '고블린', hp: 30, status: 'Default' },
                    { id: 3, monsterName: '드래곤', hp: 5000, status: 'Default' }
                ],
                // 몬스터 종류를 모아놓은 배열
                monBooks: [
                    { monsterName: '슬라임', exp: 1, hp: 10, sprMoney: 10 },
                    { monsterName: '고블린', exp: 2, hp: 20, sprMoney: 20 },
                    { monsterName: '빨간 슬라임', exp: 5, hp: 10, sprMoney: 40 },
                    { monsterName: '구울', exp: 10, hp: 50, sprMoney: 100 },
                    { monsterName: '해골 병사', exp: 20, hp: 100, sprMoney: 200 },
                    { monsterName: '해골 궁수', exp: 20, hp: 70, sprMoney: 200 },
                    { monsterName: '해골 기사', exp: 50, hp: 400, sprMoney: 500 },
                    { monsterName: '고스트', exp: 100, hp: 1000, sprMoney: 700 },
                    { monsterName: '듀라한', exp: 200, hp: 4000, sprMoney: 1000 },
                    { monsterName: '리치', exp: 500, hp: 10000, sprMoney: 2000 },
                    { monsterName: '리치킹', exp: 3000, hp: 1000000, sprMoney: 10000 },
                    { monsterName: '베히모스', exp: 2000, hp: 80000, sprMoney: 5000 },
                    { monsterName: '베히모스킹', exp: 25000, hp: 800000, sprMoney: 50000 },
                    { monsterName: '드래곤', exp: 100000, hp: 10000000, sprMoney: 100000 },
                ],
                // 아이템 종류를 모아놓은 배열
                itemBooks: [
                    { itemName: 'HP Portion I', price: 50,
                            effect: { desc: "20 hp recover", amount: 200 } },
                    { itemName: 'HP Portion II', price: 200,
                            effect: { desc: "100 hp recover", amount: 200 } },
                    { itemName: 'HP Portion III', price: 600,
                            effect: { desc: "400 hp recover", amount: 200 } },
                    { itemName: 'HP Portion IV', price: 1200,
                            effect: { desc: "800 hp recover", amount: 200 } },
                    { itemName: 'HP Portion V', price: 2000,
                            effect: { desc: "1200 hp recover", amount: 200 } },
                    { itemName: 'Sword', price: 3000000,
                            effect: { desc: "weapon", atk: 100 } },
                    { itemName: 'Iron Sword', price: 1000000,
                            effect: { desc: "weapon", atk: 200 } }
                ],
                characterName: '',
                characterLv: 1,
                characterStatus: '',
                characterHp: 100,
                characterAtk: 9,
                characterDef: 1,
                onlyCalcDef: 1,
                curExp: 0,
                needExp: 10,
                monsterName: '',
                money: 0,
                shopList: [],
                shopListValue: [],
                shopView: false,
                myInventory: []
            },
            // 메서드에서 바로 DB로 요청하게끔 만들 수도 있음
            methods: {
                // 몬스터 추가
                addMonster: function () {
                    // id 추가 시 기존 id 중 가장 큰 값에 1을 더해가며 추가하기 위해
                    // 최대값을 찾는 변수
                    var max = this.monsters.reduce(function (a, b) {
                        return a > b.id ? a : b.id
                    }, 0)

                    // 배열 길이 계산
                    var lenMax = this.monBooks.length
                    // 랜덤으로 배열 인덱스를 뽑아줌
                    var idx = Math.floor(Math.random() * lenMax)

                    // 랜덤으로 나온 인덱스에 해당하는 몬스터 추가
                    this.monsters.push({
                        id: max + 1,
                        monsterName: this.monBooks[idx].monsterName,
                        hp: this.monBooks[idx].hp,
                        status: 'Default'
                    })
                },
                // 몬스터 100마리씩 추가
                addManyMonster: function () {
                    for (var i = 0; i < 100; i++) {
                        // 배열.reduce((누적값, 현재값, 인덱스, 요소) => {
                        //      return 결과
                        // }, 초기값)
                        // 배열.reduce(function(누적값, 현재값, 인덱스, 요소) {
                        //      return 결과
                        // }, 초기값)
                        // 따라서, a의 초기값을 0으로 설정하고
                        // monsters를 한 바퀴 돌며 id 값들과 계속해서 비교하여
                        // 최대값을 찾음
                        var max = this.monsters.reduce(function (a, b) {
                            return a > b.id ? a : b.id
                        }, 0)

                        var lenMax = this.monBooks.length
                        var idx = Math.floor(Math.random() * lenMax)

                        this.monsters.push({
                            id: max + 1,
                            monsterName: this.monBooks[idx].monsterName,
                            hp: this.monBooks[idx].hp,
                            status: 'Default'
                        })
                    }
                },
                // 몬스터 삭제 : 해당 인덱스 몬스터 splice 이용하여 제거
                doRemove: function (index) {
                    this.monsters.splice(index, 1)
                },
                // 몬스터 공격 : 해당 인덱스 몬스터 hp가 characterAtk만큼 감소
                doAttack: function (index) {
                    this.monsters[index].hp -= this.characterAtk
                },
                // 광역기 ? 몬스터 전체에 대한 공격, status Stun으로 변경
                amaterasu: function () {
                    var i

                    for (i = 0; i < this.monsters.length; i++) {
                        this.monsters[i].hp =
                            parseInt(this.monsters[i].hp -
                                this.characterAtk * 1.5)

                        if (this.monsters[i].hp > 0) {
                            this.monsters[i].status = 'Stun'
                        }
                    }
                },
                shuffleShopList: function () {
                    // 참이 될 때까지 shopListValue 비어 있음
                    if (!this.shopView) {
                        this.shopListValue = []
                    }
                    // 참이 되면 shopList에 랜덤으로 값 세팅해서 보여줌
                    for (var i = 0; i < 10; i++) {
                        var randIdx = Math.floor(Math.random() * this.itemBooks.length)
                        this.shopList[i] = this.itemBooks[randIdx]
                    }
                },
                calcBuy: function () {
                    var tmpSum = 0

                    // 몇 개 샀는지, 쇼핑 리스트 길이를 콘솔에 출력
                    // v-model을 통해 넘어와 저장된 shopListValue 배열 길이 콘솔 출력
                    console.log('calcBuy(): ' + this.shopListValue.length)
                    // 상점의 아이템 개수 콘솔 출력
                    console.log('shopList len: ' + this.shopList.length)

                    // shopListValue 배열 길이만큼 반복하며
                    for (var i = 0; i < this.shopListValue.length; i++) {
                        // shopListValue 배열 값(체크한 아이템의 인덱스) 콘솔 출력
                        console.log(this.shopListValue[i])

                        // shopList 배열 길이만큼 반복하며
                        for (var j = 0; j < this.shopList.length; j++) {
                            console.log('inner loop')

                            // 물건 구매하는 개수 가격 계산
                            // shopListValue의 값이
                            // 반복문의 j 값(shopList 배열 인덱스)와 일치하면
                            if (this.shopListValue[i] == j) {
                                console.log('match!')
                                // 해당 아이템의 가격을 합산하고 반복문 탈출
                                tmpSum += this.shopList[j].price
                                break
                            }
                        }
                    }

                    // 돈이 충분하면 구매 후 계산
                    if (this.money - tmpSum >= 0) {
                        // 현재 보유하고 있는 돈에서 체크한 아이템들의 가격 합산한 만큼 뺌
                        this.money -= tmpSum

                        // 체크한 아이템 개수만큼 반복하며
                        for (var i = 0; i < this.shopListValue.length; i++) {
                            // 내 아이템에 추가 (이름, 효과)
                            this.myInventory.push({
                                itemName: this.shopList[this.shopListValue[i]].itemName,
                                effect: this.shopList[this.shopListValue[i]].effect
                            })
                        }
                    // 돈이 부족하면 경고 메시지 띄움
                    } else {
                        alert('Give me Money')
                    }
                },
                useItem: function () {

                }
            },
            // Vue 라이프사이클: Vue 인스턴스가 생성된 후
            //               우리 눈에 보여지고 사라지기 까지의 단계
            // create: 객체 생성
            // mount: 객체에 다른 정보들(데이터나 기타 다른 객체들 등)을 붙이는 것
            // update: 내용 갱신. 변경사항을 갱신해서 화면에 뿌려줄 때 사용
            // destroy: 객체 소멸
            // mount 이후에는 beforeUpdate, updated만 동작
            beforeCreate: function () {
                console.log("Before Create: " + this.monsters)
            },
            created: function () {
                console.log("Created: " + this.monsters)
            },
            beforeMount: function () {
                console.log("Before Mount: " + this.monsters)
            },
            mounted: function () {
                console.log("Mounted: " + this.monsters)
            },
            // 숫자값이 바뀐다는 것은 beforeUpdate가 호출된다는 소리
            beforeUpdate: function () {
                // console.log("Before Update: " + this.monsters)

                var i

                // monsters의 크기만큼 반복
                for (i = 0; i < this.monsters.length; i++) {
                    // hp가 0 이하 이면
                    if (this.monsters[i].hp <= 0) {
                        for (var j = 0; j < this.monBooks.length; j++) {
                            // monBooks에서 해당 몬스터를 찾아
                            if (this.monsters[i].monsterName ==
                                 this.monBooks[j].monsterName) {

                                // curExp: 해당 몬스터의 exp만큼 증가
                                this.curExp += this.monBooks[j].exp
                                // money: 해당 몬스터의 sprMoney + 알파만큼 증가
                                var tmp = this.monBooks[j].sprMoney
                                this.money += parseInt(tmp + Math.random() * (tmp / 2))
                            }
                        }
                        // 해당 몬스터 삭제
                        this.monsters.splice(i, 1)
                    }
                }

                // var criteria = this.curExp

                // curExp(현재 경험치)가 needExp(레벨업을 위한 경험치)보다 커진 경우
                for (; this.curExp >= this.needExp; ) {
                    // curExp에서 needExp를 빼 주고
                    this.curExp = parseInt(this.curExp - this.needExp)

                    // 레벨 업
                    this.characterLv += 1
                    // hp 증가
                    this.characterHp += 10
                    // 공격력 증가
                    this.characterAtk += 2
                    // 방어력 증가를 계산하기 위한 변수
                    this.onlyCalcDef += 0.4
                    // 방어력 증가
                    this.characterDef = Math.floor(this.onlyCalcDef)

                    // 레벨 9까지는 필요 경험치 1.1배씩 증가
                    if (this.characterLv < 10) {
                        this.needExp = parseInt(this.needExp * 1.1)
                    // 레벨 19까지는 필요 경험치 1.2배씩 증가
                    } else if (this.characterLv < 20) {
                        this.needExp = parseInt(this.needExp * 1.2)
                    // 레벨 29까지는 필요 경험치 1.3배씩 증가
                    } else if (this.characterLv < 30) {
                        this.needExp = parseInt(this.needExp * 1.3)
                    // 레벨 39까지는 필요 경험치 1.4배씩 증가
                    } else if (this.characterLv < 40) {
                        this.needExp = parseInt(this.needExp * 1.4)
                    // 레벨 49까지는 필요 경험치 1.5배씩 증가
                    } else if (this.characterLv < 50) {
                        this.needExp = parseInt(this.needExp * 1.5)
                    // 레벨 89까지는 필요 경험치 1.7배씩 증가
                    } else if (this.characterLv < 90) {
                        this.needExp = parseInt(this.needExp * 1.7)
                    // 레벨 99까지는 필요 경험치 2배씩 증가
                    } else if (this.characterLv < 100) {
                        this.needExp = parseInt(this.needExp * 2)
                    }
                }
            },
            updated: function () {
                console.log("Updated: " + this.monsters)
            },
            beforeDestroy: function () {
                console.log("Before Destroy: " + this.monsters)
            },
            destroyed: function () {
                console.log("Destroyed: " + this.monsters)
            }
        })
    </script>
</body>
</html>