#box-container > div, #box-container > span {
    border: 2px solid #0099cc;
    margin: 3px 0;
    padding: 5px;
}
.none {
    display: none;
}
/* block: 한 줄에 하나 */
.block1 {
    display: block;
}
/* block: 무슨 짓을 해도 한 줄에 하나 */
.block2 {
    display: block;
    width: 300px;
    height: 60px;
}
.inline {
    display: inline;
    width: 200px;
    height: 60px;
}
/* inline-block: inline의 특성을 갖고 있어
                 내용이 초과되어도 절대로 줄바꿈이 일어나지 않음 */
.inline-block {
    display: inline-block;
    width: 200px;
    height: 60px;
}
.default-inline, .default-block {
    width: 200px;
    height: 60px;
}