<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="../../img/rust.jpg" arl="Rust Sub Region" 
         width="400" height="300" usemap="#nglang">
    <map name="nglang">
        <!-- x 시작점, y 시작점, x 끝점, y 끝점 -->
        <area shape="rect" coords="110, 20, 290, 150"
              href="https://golang.org"
              target="_blank">
        <area shape="rect" coords="10, 120, 390, 290"
              href="http://www.rust-lang.org/"
              target="_blank">
    </map>
</body>
</html>